.slider
    position: relative
    .slick-arrow
        position: absolute
        top: 50%
        z-index: 10
        font-size: 0  
        width: 66.5px
        height: 69.94px
    .slick-prev
        background: url('../img/arrow-left.svg') 0 0 / 100% no-repeat
        left: 1040px
        top: 529px
        background-color: #fff   
        opacity: .2   
    .slick-next
        background: url('../img/arrow-right.svg') 0 0 / 100% no-repeat
        right: 0
        top: 529px
        background-color: #fff 
        opacity: .2   
    .slick-dots
        display: flex
        justify-content: start
        padding-top: 30px
        li
            list-style: none
            margin: 0 10px
            button  
                font-size: 0
                width: 10px
                height: 10px
                background-color: #fff
                border-radius: 50%
        .slick-active
            button
                background-color: transparent
                border: 1px solid #fff
    




    
            



    
/* Слайдер */
.slick-slider

/* Слайдер запущен */
.slick-slider.slick-initialized

/* Слайдер с точками */
.slick-slider.slick-dotted

/* Ограничивающая оболочка */
.slick-list 
    overflow: hidden
/* Лента слайдов */
.slick-track
    display: flex
/* Слайд */
.slick-slide

/* Слайд активный (показывается) */
.slick-slide.slick-active

/* Слайд основной */
.slick-slide.slick-current

/* Слайд по центру */
.slick-slide.slick-center

/* Клонированный слайд */
.slick-slide.slick-cloned

/* Стрелка */
.slick-arrow

/* Стрелка влево */
.slick-arrow.slick-prev


/* Стрелка вправо */
.slick-arrow.slick-next


/* Стрелка не активная */
.slick-arrow.slick-disabled

/* Точки (булиты) */
.slick-dots

.slick-dots li

/* Активная точка */
.slick-dots li.slick-active

/* Элемент точки */
.slick-dots li button

