.open
    height: 1242px
    background: #EBEBEB


.data
    &__foo
        padding-top: 136px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 33px
        color: #BDBDBD
    &__subfoo
        margin: 5px 0 90px 0
        font-family: 'Open', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 100%
        align-items: center
        color: #333333

.sets
    display: flex
    flex-wrap: wrap
    &__agro
        width: 370px
        height: 362.4px
        background-image: url("../img/build.png")
        &:hover
            background-image: url("../img/bluebuild.png")
    &__culture
        width: 370px
        height: 362.4px
        background-image: url("../img/build.png")
        &:hover
            background-image: url("../img/bluebuild.png")
    &__tourism
        width: 370px
        height: 362.4px
        background-image: url("../img/build.png")
        &:hover
            background-image: url("../img/bluebuild.png")
    &__sport
        width: 370px
        height: 362.4px
        background-image: url("../img/build.png")
        &:hover
            background-image: url("../img/bluebuild.png")
    &__health
        width: 370px
        height: 362.4px
        background-image: url("../img/build.png")
        &:hover
            background-image: url("../img/bluebuild.png")
    &__ecology
        width: 370px
        height: 362.4px
        background-image: url("../img/build.png")
        &:hover
            background-image: url("../img/bluebuild.png")   
    &__infoagro
        position: absolute
        top: 1345px
        left: 416px
        width: 264.29px
        height: 54.36px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        text-align: center
    &__infoculture
        position: absolute
        top: 1345px
        left: 810px
        width: 264.29px
        height: 54.36px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        text-align: center
    &__infotourism 
        position: absolute
        top: 1345px
        left: 1200px
        width: 264.29px
        height: 54.36px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        text-align: center
    &__infosport
        position: absolute
        top: 1730px
        left: 416px
        width: 264.29px
        height: 54.36px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        text-align: center
    &__infohealth
        position: absolute
        top: 1730px
        left: 810px
        width: 264.29px
        height: 54.36px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        text-align: center
    &__infoecology
        position: absolute
        top: 1730px
        left: 1200px
        width: 264.29px
        height: 54.36px
        font-family: 'Lato', sans-serif
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        text-align: center
    &__agro
        margin: 0 15px 15px 0
    &__culture
        margin: 0 15px 15px 0
    &__tourism        
        margin-bottom: 15px
    &__sport
        margin-right: 15px        
    &__health
        margin-right: 15px
    &__ecology
